* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: rgb(67,75,145);
    background: linear-gradient(180deg, rgba(146,134,209,1) 0%, rgba(67,58,112,1) 36%, rgba(1,46,162,1) 100%);    height: 100%;
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    position: absolute;
    top:1.5rem;
    left: 20rem;
    color: rgb(255, 255, 255);
    text-shadow: rgb(54, 113, 173)  0px 22px 70px 4px;

}

.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 80vh;
    width: 80vw;
    border: 4px solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    box-shadow: rgb(54, 113, 173)  0px 22px 70px 4px;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
	border: 5px solid black;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 10vw;
	background-image: url('images/rock.png') ;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;

}


.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}